body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
.card{
    background-color: rgb(129, 130, 149);
}

.title {
    text-align: center;
    color: whitesmoke;
    border-radius: 0;
    background-color:rgb(17, 34, 165);
}

.daysAhead {
    text-align: center;
}

.previousCity {
    text-align: center;
}

.footer {
    width: 100%;
}
